.hero {
  display: flex;
  width: 100%;
  padding-top: 0rem;
  padding-bottom: 6rem;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.header__content h1 {
  font-size: 2.4rem;
  margin-bottom: 0px;
}
.header__content p {
  line-height: 22px;
  color: rgb(88, 88, 88);
}
.header__content button {
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(94, 94, 201);
  color: #fff;
  font-size: 1rem;
  border: 1px solid #fff;
  margin: 15px 0px;
}
.header__bottom {
  display: flex;
}
.header__bottom-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__bottom-container h3 {
  font-size: 1.2rem;
  margin-bottom: 0px;
}
.header__bottom-container p {
  margin-right: 20px;
}
.header__banner {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1270px) {
  .header__banner img{
    height: 350px;
  }
}
@media screen and (max-width: 960px) {
  .hero {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header__content{
    width: 100%;
  }

  .header__banner img {
    margin-top: 80px;
  }
}
