a {
  text-decoration: none;
  list-style: none;
  color: black;
}
.header{
  width: 100%;
  padding: 2rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.app__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.app__navbar-logo a {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.4rem;
  color: rgb(94, 94, 201);
}
.app__navbar-logo a img {
  height: 40px;
  width: 40px;
  margin-right: 12px;
}
.app__navbar-menu {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: space-between;
}
.app__navbar-menu li:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.4s ease, background-color 0.5s ease;
}
.app__navbar-menu li:hover:after {
  width: 100%;
  background: rgb(94, 94, 201);
}
.app__navbar-menu li a {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.app__navbar-menu li a:hover {
  color: rgb(94, 94, 201);
}

.navbar__items{
  display: flex;
  align-items: center;
  gap: 50px;
}

.app__navbar-icon {
  display: none;
}
.pageActive{
  border-bottom: 4px solid rgb(94, 94, 201);
}
.user {
  position: relative;
}
.user__infor{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 5px;
  cursor: pointer;
  width: 50px;
}
.user__functions{
  position: absolute;
  right: 0;
  display: none;
  background-color: white;
  padding: 20px;
  width: 120px;
}
.user__funcitons-show{
  display: block;
  z-index: 999;
}
.user__functions-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.no__user{
  display: flex;
  align-items: center;
  gap: 40px;
}
.no__user ul{
  display: flex;
  gap:30px;
  align-items: center;
}
.user-wrapper{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 1270px){
  .header{
    padding: 2rem 6rem;
  }
}

@media screen and (max-width: 960px) {
  .header{
    padding: 2rem 4rem;
  }
  .app__navbar{
    position: relative;
  }
  .navbar__items{
    flex-direction: column;
    gap: 0px;
    font-size: 1rem;
    align-items: end;
  }
  .no__user{
    flex-direction: column;
    gap: 0px;
  }
  .app__navbar-icon {
    display: block;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px;
    width: 20px;
    text-align: center;
  }
  .app__navbar-menu li a:hover {
    color: #fff;
  }
  .app__navbar-logo a {
    font-size: 1rem;
  }
  .app__navbar-menu {
    display: none;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 0;
    text-align: center;
    background-color: rgb(94, 94, 201);
    justify-content: space-evenly;
    align-items: center;
  }
  #active {
    z-index: 1;
    display: flex;
    opacity: 1;
  }
  .app__navbar-menu li {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }
  .app__navbar-menu li a {
    color: white;
  }
}

@media screen and (max-width: 740px) {
  .header{
    padding: 2rem;
  }

}