.clients-card-container {
  padding: 0px;
  display: grid;
  gap: 15px;
}
li {
  list-style: none;
}
.clients-card {
  background-color: white;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  position: relative;
  padding: 15px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fa-x {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 0.8rem;
}
.clients-card li {
  flex: 1;
  display: flex;
  align-items: center;
}
.function-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn-exercise {
  padding: 10px 20px;
  border-radius: 6px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-color: rgb(45, 125, 210);
  color: white;
  font-size: 1rem;
  box-shadow: rgba(32, 120, 215, 0.47) -1px 4px 2px 0px;
}

@media screen and (min-width: 3000px) {
  .clients-card-container{
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
@media screen and (max-width: 3000px) {
  .clients-card-container{
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media screen and (max-width: 2000px) {
  .clients-card-container{
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media screen and (max-width: 1536px) {
  .clients-card-container{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1024px) {
  .clients-card-container{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .clients-card-container{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 500px) {
  .clients-card-container{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}